<div id="id01" class="login-modal">
  <div class="login-modal-content login-animate-top login-card-4">
      <header class="login-container login-teal">
          <span onclick="document.getElementById('id01').style.display='none'"
          class="login-button-modal login-display-topright">&times;
          </span>
          <h2>Acesse sua conta</h2>
          <div>
              <form>
                  <input placeholder="E-mail/CPF/CNPJ" class="input-form" type="email">
                  <input placeholder="Senha" class="input-form" type="password">
              </form>
              <form>
                  <input type="checkbox" checked="checked">
                  <label class="input-checkbox">Mantenha-me conectado</label>
                  <br>
                  <input type="checkbox">
                  <label class="input-checkbox">Esqueci minha senha</label>
              </form>
          </div>
          <span class="buttons">
              <a class="button-login" href="#">Login</a>
          </span>
      </header>
  </div>
</div>
___________
