<app-header></app-header>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/75d97e1a25.js" crossorigin="anonymous"></script>

<div class="faq-container">
    <div class="questions">
        <i class=""></i>
        <h1>Perguntas frequentes</h1>
        <h2>Quem pode realizar uma adoção?</h2>
        <h2>Como escolher um pet adequado ao meu perfil?</h2>
        <h2 >Todos os animais são vacinados/vermifugados?</h2>
        <h2 >Os animais que vão para adoção são castrados?</h2>
        <h2 >Adotei um pet e ele não se adaptou, é possível a devolução?</h2>
        <h2 >Os animais para adoção são animais sociáveis?</h2>
        <h2 >Não posso adotar, mas gostaria de doar, como posso ajudar?</h2>
        <h2 >O animal que divulguei já foi adotado. Como faço para informar?</h2>
        <h2 >Quais são os documentos necessários para uma adoção?</h2>
        <h2 >O site cobra alguma taxa?</h2>
    </div>
</div>
<app-footer></app-footer>