<app-header></app-header>
<div class="main" >
</div>
<div class="topic-container">
    <div class="topicos-conteudo">
        <i class=""></i>
        <h2>Você sabe a importância
            de adotar um animal?
            A gente te fala.</h2>
        <p>Adotar um animal é uma grande responsabilidade e não é só porque você precisará cuidar dele em casa.
            A adoção é capaz de salvar a vida de um bichinho que poderia estar nas ruas, abandonado,
            morrendo de fome e possivelmente sofrendo de maus tratos.</p>
    </div>
    <div class="topicos-conteudo">
        <i class=""></i>
        <h2>Abandono de animais:<br>
            um crime silencioso.
        </h2>
        <p>Apesar da estreita união homem-animal, constata-se um grande número de casos de maus-tratos contra os
            animais, cometidos pelos seres humanos: abandono, negligência, espancamentos, queimaduras,
            tráfico de animais silvestres, zoofilia, promoção de rinhas, esgotamento de matrizes devido à exaustiva
            reprodução,
            caça ilegal e uso de animais para fins recreativos, entre outros</p>
    </div>
    <div class="topicos-conteudo">
        <i class=""></i>
        <h2>"Quero doar meu animal":
            como fazer de forma segura e com o mínimo de trauma para o animal?
        </h2>
        <p>Doar um animal é uma tarefa bem difícil e que requer muita atenção.
            Primeiro, porque ao colocar o animal para doar, a ideia é gerar o mínimo de trauma possível no animal.
            Segundo, porque saber onde deixar o animal para adoção é fundamental nesse momento.</p>
    </div>
</div>
<app-footer></app-footer>
