<html>

<body>

    <app-modal-login></app-modal-login>
    <app-modal-sign-up></app-modal-sign-up>



    <div class="header-container">
<!---
        <div class="menu-container">
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
         <input type="checkbox" id="checkbox" class="checkbox"/>
            <label for="checkbox" class="label-menu">
                Menu
                <span class="hamburguer"></span></label>
      -->

        <div class="logo"><img src="/assets/img/imglogomenor.png"></div>

            <div class="navigation">
                <a routerLink="/">Início</a>
                <a routerLink="/quemsomos">Quem somos</a>
                <a routerLink="/queroadotar">Quero adotar</a>
                <a routerLink="/querodoar">Quero doar</a>
                <a routerLink="/faq">FAQ</a>
                <button class="button-login" href="#"
                  onclick="document.getElementById('id01').style.display='block'">Login</button>
                <button class="button-cadastre-se" href="#"
                  onclick="document.getElementById('id02').style.display='block'">Cadastre-se</button>
            </div>

          </div>

</body>

</html>
<!--
    <div class="logo">
        <img class="img-logo" src="/assets/img/imglogomenor.png">
    </div>
    <div class="menu-container">
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class="menu">
            <a routerLink="/">Início</a>
            <a routerLink="/quemsomos">Quem somos</a>
            <a routerLink="/queroadotar">Quero adotar</a>
            <a routerLink="/querodoar">Quero doar</a>
            <a routerLink="/faq">FAQ</a>
        </div>
        <div class="buttons-container">
            <span class="buttons">
                <button class="button-login" href="#" onclick="document.getElementById('id01').style.display='block'">
                    Login
                </button>
                <button class="button-cadastre-se" href="#"
                    onclick="document.getElementById('id02').style.display='block'">
                    Cadastre-se
                </button>
            </span>
        </div>
    </div>
    -->
