<app-header></app-header>
<div class="container-adoacao">
    <div class="containe-conteudo-adoacao">
    <i class=""></i>
    <h1>Encontre seu novo Pet</h1>
    <h2>Insira abaixo as caracteristicas do Pet desejado</h2>
    <div class="caracteristicas">
        <input placeholder="Tipo" class="input-form-adocao">
        <input placeholder="Até qual idade (em meses)" class="input-form-adocao">
        <input placeholder="Gênero" class="input-form-adocao">
        <input placeholder="Cor do pelo" class="input-form-adocao">
        <input placeholder="Porte" class="input-form-adocao">
        <input placeholder="Características" class="input-form-adocao">
        <!-- falta o campo das imagens -->
    </div>
    <div class="buttons">
        <a class="button-buscar" href="#">Buscar</a><br>
    </div>
    <div class="buttons">
        <a class="button-ver-mais" href="#">Ver mais...</a>
    </div>
    </div>
</div>
<app-footer></app-footer>
