<app-header></app-header>
<div class="topico-doacao">
    <div class="topico-conteudo-doacao">
        <i class=""></i>
        <h1>Precisa doar seu Pet?</h1>
        <h2>Não se preocupe!
            Vamos encontrar o dono ideal para ele!
        </h2>
        <h2>Preencha o formulário abaixo com as informações do animal</h2>

        <form>
            <input placeholder="Tipo" class="input-form-doacao" required>
            <input placeholder="Idade (em meses):" class="input-form-doacao" required>
            <input placeholder="Gênero:" class="input-form-doacao" required>
            <input placeholder="Cor do pelo:" class="input-form-doacao" required>
            <input placeholder="Porte:" class="input-form-doacao" required>
            <input placeholder="Detalhes gerais:" class="input-form-doacao">
        </form>

        <div class="input-imagem">
            <p>Faça o upload das fotos do seu pet e facilite a adoção.</p>
            <input type="file" name="imagem" class="btn btn-success" multiple />
        </div> <br>
        <span class="buttons">
            <a class="button-login" href="#">Divulgar meu Pet</a>
        </span>
    </div>
</div>

<app-footer></app-footer>