<app-header></app-header>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/75d97e1a25.js" crossorigin="anonymous"></script>

<div class="about-container">
    <div class="topico-conteudo-doacao">
        <h1>Adota Pet BH</h1>
        <h2 class="texto-quem-somos">
            A AdotaPet BH é uma organização privada sustentada por meio de doações, criada para suprir a 
            necessidade de adoção de animais abandonados, de donos que precisam encontrar um novo lar para 
            seu pet e ajudar na divulgação de animais perdidos, facilitando a comunicação entre as pessoas. 
            Inicialmente o projeto era voltado para cachorros e gatos, mais tarde passou a abranger qualquer 
            animal doméstico. 
            A principal motivação do projeto é inicialmente conter o grande número de animais que são abandonados 
            no Brasil, e futuramente, depreciar esse número, extinguindo o cenário atual que hoje conta com mais 
            de 30 milhões de animais abandonados.
        </h2>
    </div>
</div>
<app-footer></app-footer>