
<div class="footer-contaienr">

  <div class="conteudo">
        <i class=""></i>
        <h2>ADOTE</h2>
        <h2>Adote com responsabilidade</h2>
        <h2>Pesquisar animais</h2>
    </div>

    <div class="conteudo">
        <i class=""></i>
        <h2>COLABORE</h2>
        <h2>Doe qualquer valor</h2>
        <h2>Compre nas Lojas Parceiras</h2>
    </div>

    <div class="conteudo">
        <i class=""></i>
        <h2>DIVULGUE UM ANIMAL</h2>
        <h2>Cadastrar animal</h2>
        <h2>Faça parte do Clube do Amigo</h2>
    </div>

    <div class="conteudo">
        <i class=""></i>
        <h2>PERFIL</h2>
        <h2> Minha página de perfil</h2>
        <h2> Cadastre-se</h2>
    </div>
</div>

<div class="footer-base">
      <div class="redes">
      <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://web.whatsapp.com/send?phone=553183685925/"><i class="fa-brands fa-whatsapp"></i></a>

    </div>

    <div class="direitos">
      <i class="fa-regular fa-copyright"></i>
      <p>Todos os Direitos Reservados.</p>
    </div>








