*{
  font-family: 'Poppins', sans-serif;
}

h2, a{
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
}

input {
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
  }

  input[type=text],
  input[type=number],
  input[type=date],
  input[type=file] {
    width: 400px;
  }
  .login-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .login-modal-content {
    margin: auto;
    color: #FFFFFF;
    background-color:#3B9E3E;
    position: relative;
    padding: 0;
    outline: 0;
    width: 500px;
    height: 410px;
    border-radius: 30px;
    border: 2px solid;
    border-color: #FFFFFF;
  }

  .login-animate-top {
    position: relative;
    animation: animatetop 0.4s;
  }

  @keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
  }

  .login-card-4,
  .login-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .login-container,
  .login-panel {
    padding: 0.01em 16px;
  }

  .login-panel {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .login-teal,
  .login-hover-teal:hover {
    color: #fff !important;

  }

  .login-display-topright {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .login-button-modal {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }

  .input-form {
    width: 50%;
    display: flex;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    padding: 5px 16px;
    margin: 20px auto;
    outline: none;
  }
  /* .form form input{
    width: 100%;
    display: block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 20px 16px;
    margin: 20px auto;
    outline: none;
  } */
  .header {
    width: 300px;
  }



  .cadastro-teal,
  .cadastro-hover-teal:hover {
    color: #fff !important;
    background-color: #3B9E3E !important;
    width: 43%;
    height: 75%;
  }

  .button-login {
    width: 150px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #3B9E3E;
    color: #FFFFFF;
    border: 1px solid;
    border-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-left: 150px;
    display: flex;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
  }

  .button-login:hover {
      color: #3B9E3E;
      border-color: #3B9E3E;
      background-color: #FFFFFF;
  }

  /* estilização do quero doar*/



