

<div id="id02" class="login-modal">
    <div class="login-modal-content login-animate-top login-card-4">
        <header class="login-container login-teal">
            <span onclick="document.getElementById('id02').style.display='none'"
            class="login-button-modal login-display-topright">&times;
            </span>
        <h2>Crie sua conta! É fácil, rápido e gratuito.</h2>
        <a>Com a sua conta você terá acesso a conteúdos e serviços exclusivos.</a>
          <div>
            <form [formGroup]="formReg" (ngSubmit)="onSubmit()">

                <input placeholder="Nome Completo" class="form-control" formControlName="nome">
                <input placeholder="CPF ou CNPJ" class="form-control" formControlName="cpfcnpj">
                <input placeholder="E-mail" class="form-control" type="email" formControlName="email">
                <input placeholder="Senha" class="form-control" type="password" formControlName="password">
                <input placeholder="Confirme sua senha" class="form-control" type="password" formControlName="passwordconfirm">


                <span class="buttons">
                    <a type="submit" class="button-login" value="Enviar" href="#">Cadastrar</a>
                </span>
            </form>
          </div>
        </header>
    </div>
</div>
