

<div id="id02" class="login-modal">
    <div class="login-modal-content login-animate-top login-card-4">
        <header class="login-container login-teal">
            <span onclick="document.getElementById('id02').style.display='none'"
            class="login-button-modal login-display-topright">&times;
            </span>
        <h2>Crie sua conta! É fácil, rápido e gratuito.</h2>
        <a>Com a sua conta você terá acesso a conteúdos e serviços exclusivos.</a>
        <div>
            <form>
                <input placeholder="Nome Completo" class="input-form">
                <input placeholder="CPF ou CNPJ" class="input-form">
                <input placeholder="E-mail" class="input-form" type="email">
                <input placeholder="Senha" class="input-form" type="password">
                <input placeholder="Confirme sua senha" class="input-form" type="password">
            </form>
        </div>
        <span class="buttons">
            <a class="button-login" href="#">Cadastrar</a>
        </span>
        </header>
    </div>
</div>
